.hireme {
    position: relative;
    display: flex;
    width: auto;
    border-radius: 9px;
    width: 450px;
    flex-direction: column;
    gap: 22px;
    padding: 18px 32px;
    &__title {
        font-size: 18px;
        margin: 20px 0px 8px 0px;
        text-align: center;
    }
    &__label {
        display: flex;
        flex-direction: column;
        gap: 18px;
    }
    &__closebtn {
        display: flex;
        justify-content: flex-end;
    }
}
.hiremelight{
    @extend .hireme;
    background-color: white;
    color: $--dark-primary;
}
.hiremedark{
    @extend .hireme;
    background-color: $--dark-primary;
    color: $--light-primary;
}
