.hireme {
    position: relative;
    background-color: white;
    display: flex;
    border-radius: 9px;
    flex-direction: column;
    gap: 10px;
    padding: 12px 24px;
    &__title{
        font-size: 18px;
        margin: 12px 0px 8px 0px;
        text-align: center;
    }
}
