  .search-field {
    display: flex;
    gap: 4px;
    &__input {
      padding: 0.5rem;
      border-radius: 5px;
      border: 1px solid $--dark-primary;

      &:hover {
        outline: 2px solid black;
      }
    }
    button {
      background-color: rgb(121, 190, 255);
      padding: 0px 16px;
      cursor: pointer;
      border: 1px solid $--dark-primary;
      border-radius: 5px;

      &:hover {
        background-color: rgb(91, 173, 250);

      }
    }
  }

