  .search-field {
    display: flex;
    gap: 4px;
    &__input {
      padding: 0.5rem;
      border-radius: 10px;


      &:hover {
        outline: 2px solid black;
        outline-offset: -2px;
      }
    }
    button {
      background-color: #f7f8fc;
      padding: 10px 16px;
      cursor: pointer;
      border: none;
      border-radius: 10px;

      &:hover {
        background-color: #f7f8fc;

      }
    }
  }

