.home{
    &__top{
        padding-top: 10px;
        margin-bottom: 30px;
    }
    &__body{
        margin-bottom:100px;
    }
    &__project{
        margin-bottom: 70px;
    }
    &__foot{
        margin-top: 60px;
        padding-bottom: 30px;
    }
}