.nav{
    &__item{
        padding: 20px;
        font-size: 22px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__theme{
            background-color: $--light-secondary;
            padding: 6px 10px;
            border-radius: 12px;
            cursor: pointer;
        }
        &__menu{
            font-size: 32px;
            cursor: pointer;
        }
    }
    &__links{
        padding: 20px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        font-size: 20px;
        font-weight: 300;
        cursor: pointer;
        box-shadow: 0 4px 8px -4px $--dark-primary;
        &__line{
            background-color: $--light-secondary;
            height: 1.5px;
        }
    }
}