.projects-section {
  $self: &;
  &__title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 22px;
    margin-top: 24px;
  }
  &__info{
    text-align: center;
    font-size: 22px;
    margin-top: 12px;
    margin-bottom: 50px;
  }
  &__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem;
    height: 36px;
  }

  &__card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(360px), 1fr));
    gap: 1rem;
    justify-items: center;
    margin: 2px 20px 2px 20px;
  }
}
