.projects-section {
  $self: &;
  padding-bottom: 60px;
  padding-top: 26px;
  max-width: 1280px;
  margin: auto;
  padding-inline: 16px;

  &__title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 22px;
    padding-top: 24px;
  }
  &__info {
    text-align: center;
    font-size: 22px;
    margin-top: 12px;
    margin-bottom: 50px;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 3rem;
    height: 36px;
    gap: 16px;
  }

  &__card-container {
    display: grid;
    margin-top: 1.5rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2.5rem;

    @media (min-width: 640px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 2.5rem;
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 2.5rem;
    }
  }
}
